.booking-modal-container {
  .booking-modal-content {
    display: flex;
    flex-direction: column;
    .booking-modal-header {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      .left {
        font-size: 15px;
        font-weight: 600;
      }
      .right {
        float: right;
        cursor: pointer;
      }
    }
    .booking-modal-body {
      padding: 15px;
      height: 100%;
    }

    .booking-modal-footer {
      padding: 10px;

      display: flex;
      justify-content: flex-end;
      gap: 15px;
      border-top: 1px solid #ddd;
      button {
        border-radius: 3px;
        border: none;
        outline: none;
      }
      .btn-booking-confirm {
        background-color: orange;
      }
      .btn-booking-cancel {
        background-color: #ccc;
      }
    }
  }
}
